<a href="https://colab.research.google.com/github/Veera9014/practice-data-science-code/blob/main/stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("train.csv")

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df=pd.read_csv("train.csv", index_col="PassengerId")
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [ ]:
df.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [ ]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       882, 883, 884, 885, 886, 887, 888, 889, 890, 891],
      dtype='int64', name='PassengerId', length=891)

In [ ]:
df.shape

(891, 11)

In [ ]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.tail()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [ ]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
df['Survived']

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
df.iloc[:,3]

PassengerId
1        male
2      female
3      female
4      female
5        male
        ...
887      male
888    female
889    female
890      male
891      male
Name: Sex, Length: 891, dtype: object

In [ ]:
df.loc[:,'Sex']

PassengerId
1        male
2      female
3      female
4      female
5        male
        ...
887      male
888    female
889    female
890      male
891      male
Name: Sex, Length: 891, dtype: object

In [ ]:
df[['Name','Age']]

                                                          Name   Age
PassengerId
1                                      Braund, Mr. Owen Harris  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
3                                       Heikkinen, Miss. Laina  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
5                                     Allen, Mr. William Henry  35.0
...                                                        ...   ...
887                                      Montvila, Rev. Juozas  27.0
888                               Graham, Miss. Margaret Edith  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"   NaN
890                                      Behr, Mr. Karl Howell  26.0
891                                        Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [ ]:
df.iloc[:,1:3]

             Pclass                                               Name
PassengerId
1                 3                            Braund, Mr. Owen Harris
2                 1  Cumings, Mrs. John Bradley (Florence Briggs Th...
3                 3                             Heikkinen, Miss. Laina
4                 1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                 3                           Allen, Mr. William Henry
...             ...                                                ...
887               2                              Montvila, Rev. Juozas
888               1                       Graham, Miss. Margaret Edith
889               3           Johnston, Miss. Catherine Helen "Carrie"
890               1                              Behr, Mr. Karl Howell
891               3                                Dooley, Mr. Patrick

[891 rows x 2 columns]

In [ ]:
df.loc[:,['Name','Pclass']]

                                                          Name  Pclass
PassengerId
1                                      Braund, Mr. Owen Harris       3
2            Cumings, Mrs. John Bradley (Florence Briggs Th...       1
3                                       Heikkinen, Miss. Laina       3
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
5                                     Allen, Mr. William Henry       3
...                                                        ...     ...
887                                      Montvila, Rev. Juozas       2
888                               Graham, Miss. Margaret Edith       1
889                   Johnston, Miss. Catherine Helen "Carrie"       3
890                                      Behr, Mr. Karl Howell       1
891                                        Dooley, Mr. Patrick       3

[891 rows x 2 columns]

In [ ]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.iloc[1]

Survived                                                    1
Pclass                                                      1
Name        Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                    female
Age                                                      38.0
SibSp                                                       1
Parch                                                       0
Ticket                                               PC 17599
Fare                                                  71.2833
Cabin                                                     C85
Embarked                                                    C
Name: 2, dtype: object

In [ ]:
df.loc['Name':'Sex','Pclass':]

Empty DataFrame
Columns: [Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [ ]:
df.iloc[1:3,:]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
df.iloc[1:5,:]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df[ df['Age'] > 50]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
...,...,...,...,...,...,...,...,...,...,...,...
821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

In [ ]:
df[(df['Age']>300) & (df['Pclass']<0)]

Empty DataFrame
Columns: [Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [ ]:
df[(df['Age']>300) | (df['Pclass']<0)]

Empty DataFrame
Columns: [Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [ ]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
Names=df['Name']

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type('Name')

str

Data Cleaning

In [ ]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.rename(columns={
    'Name':'ename',
     'Sex':'gender'
 },inplace=True)
df

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

b.Drop unwanted row and column

In [ ]:
df.drop(1)

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.drop(2,axis=0)

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.drop('Cabin',axis=1)

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

Handle null values

In [ ]:
import numpy as np

In [ ]:
dnull=[[1,2,3,'M',7],
      [np.nan,5,6,np.nan,7],
      [8,np.nan,9,'F',10],
      [np.nan,np.nan,np.nan,'m',11]]

dframe=pd.DataFrame(dnull,columns=['a','b','c','d','e'])

In [ ]:
dframe

     a    b    c    d   e
0  1.0  2.0  3.0    M   7
1  NaN  5.0  6.0  NaN   7
2  8.0  NaN  9.0    F  10
3  NaN  NaN  NaN    m  11

Drop null values

In [ ]:
dframe.dropna()

     a    b    c  d  e
0  1.0  2.0  3.0  M  7

In [ ]:
dframe.dropna(axis=1)

    e
0   7
1   7
2  10
3  11

In [ ]:
dframe

     a    b    c    d   e
0  1.0  2.0  3.0    M   7
1  NaN  5.0  6.0  NaN   7
2  8.0  NaN  9.0    F  10
3  NaN  NaN  NaN    m  11

In [ ]:
dframe.fillna(0)

     a    b    c  d   e
0  1.0  2.0  3.0  M   7
1  0.0  5.0  6.0  0   7
2  8.0  0.0  9.0  F  10
3  0.0  0.0  0.0  m  11

In [ ]:
avg_a=dframe['a'].mean()
avg_b=dframe['b'].mean()
avg_c=dframe['c'].mean()
avg_a

4.5

In [ ]:
dframe['d'].mode()

0    F
1    M
2    m
Name: d, dtype: object

In [ ]:
dframe['d'].mode()[0]

'F'

In [ ]:
dframe.fillna({'a':avg_a,
               'b':avg_b,
               'c':avg_c,
               'd':dframe['d'].mode()[0]})

     a    b    c  d   e
0  1.0  2.0  3.0  M   7
1  4.5  5.0  6.0  F   7
2  8.0  3.5  9.0  F  10
3  4.5  3.5  6.0  m  11

### handle duplicate value

In [ ]:
ddup=pd.DataFrame({'col1':['A','A','B','B','B'],'col2':[2,2,2,3,3]})
ddup

  col1  col2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [ ]:
ddup.drop_duplicates()

  col1  col2
0    A     2
2    B     2
3    B     3

In [ ]:
d1=[[1,2,3],[4,5,6]]
df1=pd.DataFrame(d1,columns=['a','b','c'])

d2=[[10,20,30],[40,50,60]]
df2=pd.DataFrame(d2,columns=['d','e','f'])

d3=[[11,22,33],[44,55,66]]
df3=pd.DataFrame(d3,columns=['a','b','c'])

In [ ]:
df1

   a  b  c
0  1  2  3
1  4  5  6

In [ ]:
df2

    d   e   f
0  10  20  30
1  40  50  60

In [ ]:
df3

    a   b   c
0  11  22  33
1  44  55  66

In [ ]:
pd.concat([df1,df2])

     a    b    c     d     e     f
0  1.0  2.0  3.0   NaN   NaN   NaN
1  4.0  5.0  6.0   NaN   NaN   NaN
0  NaN  NaN  NaN  10.0  20.0  30.0
1  NaN  NaN  NaN  40.0  50.0  60.0

In [ ]:
pd.concat([df1,df3])

    a   b   c
0   1   2   3
1   4   5   6
0  11  22  33
1  44  55  66

In [ ]:
pd.concat([df1,df3],ignore_index=True)

    a   b   c
0   1   2   3
1   4   5   6
2  11  22  33
3  44  55  66

In [ ]:
df1.join(df2)

   a  b  c   d   e   f
0  1  2  3  10  20  30
1  4  5  6  40  50  60

merage

In [ ]:
d1={'movieid':[1,2,3,4],
    'title':['3 Idiots','2 states','leo','RRR']}
movies=pd.DataFrame(d1)

d2={
     'memid':[1,2,3],
     'name':['Tom','Tim','Jon'],
     'movieid':[1,np.nan,3]

}
members=pd.DataFrame(d2)
movies

   movieid     title
0        1  3 Idiots
1        2  2 states
2        3       leo
3        4       RRR

In [ ]:
members

   memid name  movieid
0      1  Tom      1.0
1      2  Tim      NaN
2      3  Jon      3.0

In [ ]:
pd.merge(movies,members, on="movieid", how='left')

   movieid     title  memid name
0        1  3 Idiots    1.0  Tom
1        2  2 states    NaN  NaN
2        3       leo    3.0  Jon
3        4       RRR    NaN  NaN

In [ ]:
pd.merge(movies,members, on="movieid", how='right')

   movieid     title  memid name
0      1.0  3 Idiots      1  Tom
1      NaN       NaN      2  Tim
2      3.0       leo      3  Jon

In [ ]:
pd.merge(movies,members, on="movieid", how='inner')

   movieid     title  memid name
0        1  3 Idiots      1  Tom
1        3       leo      3  Jon

In [ ]:
pd.merge(movies,members, on="movieid", how='outer')

   movieid     title  memid name
0      1.0  3 Idiots    1.0  Tom
1      2.0  2 states    NaN  NaN
2      3.0       leo    3.0  Jon
3      4.0       RRR    NaN  NaN
4      NaN       NaN    2.0  Tim

ordering Data

In [ ]:
df

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.sort_values(by='Age')

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
df.sort_values(by='Age',ascending=False)

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...
860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
df.sort_index(ascending=False)

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S

group records

In [ ]:
sal=pd.read_csv("Salaries.csv")

In [ ]:
sal.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
grp=sal.groupby('rank')

In [ ]:
grp

In [ ]:
x=10,20
x

(10, 20)

In [ ]:
for x,y in grp:
  print(x)
  print('_'*50)

AssocProf
__________________________________________________
AsstProf
__________________________________________________
Prof
__________________________________________________

In [ ]:
for x in grp:
  print(y)
  print('_'*50)

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
1   Prof          A   12        6    Male   93000
2   Prof          A   23       20    Male  110515
3   Prof          A   40       31    Male  131205
4   Prof          B   20       18    Male  104800
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
8   Prof          A   29       19    Male   94350
9   Prof          A   51       51    Male   57800
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
18  Prof          A   19        7    Male  107300
19  Prof          A   29       27    Male  150500
21  Prof          A   33       30    Male  103106
24  Prof          A   30       23    Male   91100
25  Prof          B   35       31    Male   99418
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
32  Prof          A   27       19    Male  103275
33  Prof          B   18       18    Male  120000
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
37  Prof          A   20        8    Male  102000
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
48  Prof          B   17       17  Female  111512
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
52  Prof          A   12        0  Female  105000
58  Prof          B   36       26  Female  144651
63  Prof          A   29       27  Female   91000
65  Prof          A   36       19  Female  117555
67  Prof          A   17       11  Female   90450
69  Prof          A   28        7  Female  116450
72  Prof          B   24       15  Female  161101
73  Prof          B   18       10  Female  105450
75  Prof          B   17       17  Female  124312
76  Prof          A   28       14  Female  109954
77  Prof          A   23       15  Female  109646
__________________________________________________
    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
1   Prof          A   12        6    Male   93000
2   Prof          A   23       20    Male  110515
3   Prof          A   40       31    Male  131205
4   Prof          B   20       18    Male  104800
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
8   Prof          A   29       19    Male   94350
9   Prof          A   51       51    Male   57800
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
18  Prof          A   19        7    Male  107300
19  Prof          A   29       27    Male  150500
21  Prof          A   33       30    Male  103106
24  Prof          A   30       23    Male   91100
25  Prof          B   35       31    Male   99418
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
32  Prof          A   27       19    Male  103275
33  Prof          B   18       18    Male  120000
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
37  Prof          A   20        8    Male  102000
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
48  Prof          B   17       17  Female  111512
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
52  Prof          A   12        0  Female  105000
58  Prof          B   36       26  Female  144651
63  Prof          A   29       27  Female   91000
65  Prof          A   36       19  Female  117555
67  Prof          A   17       11  Female   90450
69  Prof          A   28        7  Female  116450
72  Prof          B   24       15  Female  161101
73  Prof          B   18       10  Female  105450
75  Prof          B   17       17  Female  124312
76  Prof          A   28       14  Female  109954
77  Prof          A   23       15  Female  109646
__________________________________________________
    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
1   Prof          A   12        6    Male   93000
2   Prof          A   23       20    Male  110515
3   Prof          A   40       31    Male  131205
4   Prof          B   20       18    Male  104800
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
8   Prof          A   29       19    Male   94350
9   Prof          A   51       51    Male   57800
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
18  Prof          A   19        7    Male  107300
19  Prof          A   29       27    Male  150500
21  Prof          A   33       30    Male  103106
24  Prof          A   30       23    Male   91100
25  Prof          B   35       31    Male   99418
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
32  Prof          A   27       19    Male  103275
33  Prof          B   18       18    Male  120000
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
37  Prof          A   20        8    Male  102000
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
48  Prof          B   17       17  Female  111512
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
52  Prof          A   12        0  Female  105000
58  Prof          B   36       26  Female  144651
63  Prof          A   29       27  Female   91000
65  Prof          A   36       19  Female  117555
67  Prof          A   17       11  Female   90450
69  Prof          A   28        7  Female  116450
72  Prof          B   24       15  Female  161101
73  Prof          B   18       10  Female  105450
75  Prof          B   17       17  Female  124312
76  Prof          A   28       14  Female  109954
77  Prof          A   23       15  Female  109646
__________________________________________________

In [ ]:
for x in grp:
  print(x)
  print('_'*50)

('AssocProf',          rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
30  AssocProf          B    9        7    Male  107008
34  AssocProf          B   12        8    Male  119800
41  AssocProf          A   13        8  Female   74830
47  AssocProf          B   11       11  Female  103613
54  AssocProf          A   25       22  Female   62884
56  AssocProf          A   10        8  Female   77500
59  AssocProf          B   12       10  Female  103994
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
64  AssocProf          A   26       24  Female   73300
71  AssocProf          B   12        9  Female   71065
74  AssocProf          B   19        6  Female  104542)
__________________________________________________
('AsstProf',         rank discipline  phd  service     sex  salary
12  AsstProf          B    1        0    Male   88000
16  AsstProf          B    8        3    Male   75044
17  AsstProf          B    4        0    Male   92000
20  AsstProf          B    4        4    Male   92000
22  AsstProf          A    4        2    Male   73000
23  AsstProf          A    2        0    Male   85000
28  AsstProf          B    7        2    Male   91300
38  AsstProf          B    4        3    Male   91000
42  AsstProf          B    4        2  Female   80225
43  AsstProf          B    5        0  Female   77000
46  AsstProf          B   11        3  Female   74692
50  AsstProf          B   10        5  Female   97032
53  AsstProf          A    5        3  Female   73500
55  AsstProf          A    2        0  Female   72500
57  AsstProf          A    3        1  Female   72500
60  AsstProf          B    3        3  Female   92000
66  AsstProf          A    7        6  Female   63100
68  AsstProf          A    4        2  Female   77500
70  AsstProf          A    8        3  Female   78500)
__________________________________________________
('Prof',     rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
1   Prof          A   12        6    Male   93000
2   Prof          A   23       20    Male  110515
3   Prof          A   40       31    Male  131205
4   Prof          B   20       18    Male  104800
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
8   Prof          A   29       19    Male   94350
9   Prof          A   51       51    Male   57800
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
18  Prof          A   19        7    Male  107300
19  Prof          A   29       27    Male  150500
21  Prof          A   33       30    Male  103106
24  Prof          A   30       23    Male   91100
25  Prof          B   35       31    Male   99418
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
32  Prof          A   27       19    Male  103275
33  Prof          B   18       18    Male  120000
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
37  Prof          A   20        8    Male  102000
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
48  Prof          B   17       17  Female  111512
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
52  Prof          A   12        0  Female  105000
58  Prof          B   36       26  Female  144651
63  Prof          A   29       27  Female   91000
65  Prof          A   36       19  Female  117555
67  Prof          A   17       11  Female   90450
69  Prof          A   28        7  Female  116450
72  Prof          B   24       15  Female  161101
73  Prof          B   18       10  Female  105450
75  Prof          B   17       17  Female  124312
76  Prof          A   28       14  Female  109954
77  Prof          A   23       15  Female  109646)
__________________________________________________

In [ ]:
grp2=sal[['rank','phd','service','salary']].groupby('rank')

In [ ]:
grp2.agg('mean')

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
grp2.agg('max')

           phd  service  salary
rank
AssocProf   26       24  119800
AsstProf    11        6   97032
Prof        56       51  186960

In [ ]:
grp2.agg(['mean','min','max'])

                 phd            service                 salary
                mean min max       mean min max           mean    min     max
rank
AssocProf  15.076923   9  26  11.307692   6  24   91786.230769  62884  119800
AsstProf    5.052632   1  11   2.210526   0   6   81362.789474  63100   97032
Prof       27.065217  12  56  21.413043   0  51  123624.804348  57800  186960

In [ ]:
grp3=sal[['rank','sex','phd','service','salary']].groupby(['rank','sex'])

In [ ]:
for x in grp3:
  print(x)
  print('_'*50)

(('AssocProf', 'Female'),          rank     sex  phd  service  salary
41  AssocProf  Female   13        8   74830
47  AssocProf  Female   11       11  103613
54  AssocProf  Female   25       22   62884
56  AssocProf  Female   10        8   77500
59  AssocProf  Female   12       10  103994
61  AssocProf  Female   13       10  103750
62  AssocProf  Female   14        7  109650
64  AssocProf  Female   26       24   73300
71  AssocProf  Female   12        9   71065
74  AssocProf  Female   19        6  104542)
__________________________________________________
(('AssocProf', 'Male'),          rank   sex  phd  service  salary
6   AssocProf  Male   20       17   81285
30  AssocProf  Male    9        7  107008
34  AssocProf  Male   12        8  119800)
__________________________________________________
(('AsstProf', 'Female'),         rank     sex  phd  service  salary
42  AsstProf  Female    4        2   80225
43  AsstProf  Female    5        0   77000
46  AsstProf  Female   11        3   74692
50  AsstProf  Female   10        5   97032
53  AsstProf  Female    5        3   73500
55  AsstProf  Female    2        0   72500
57  AsstProf  Female    3        1   72500
60  AsstProf  Female    3        3   92000
66  AsstProf  Female    7        6   63100
68  AsstProf  Female    4        2   77500
70  AsstProf  Female    8        3   78500)
__________________________________________________
(('AsstProf', 'Male'),         rank   sex  phd  service  salary
12  AsstProf  Male    1        0   88000
16  AsstProf  Male    8        3   75044
17  AsstProf  Male    4        0   92000
20  AsstProf  Male    4        4   92000
22  AsstProf  Male    4        2   73000
23  AsstProf  Male    2        0   85000
28  AsstProf  Male    7        2   91300
38  AsstProf  Male    4        3   91000)
__________________________________________________
(('Prof', 'Female'),     rank     sex  phd  service  salary
39  Prof  Female   18       18  129000
40  Prof  Female   39       36  137000
44  Prof  Female   23       19  151768
45  Prof  Female   25       25  140096
48  Prof  Female   17       17  111512
49  Prof  Female   17       18  122960
51  Prof  Female   20       14  127512
52  Prof  Female   12        0  105000
58  Prof  Female   36       26  144651
63  Prof  Female   29       27   91000
65  Prof  Female   36       19  117555
67  Prof  Female   17       11   90450
69  Prof  Female   28        7  116450
72  Prof  Female   24       15  161101
73  Prof  Female   18       10  105450
75  Prof  Female   17       17  124312
76  Prof  Female   28       14  109954
77  Prof  Female   23       15  109646)
__________________________________________________
(('Prof', 'Male'),     rank   sex  phd  service  salary
0   Prof  Male   56       49  186960
1   Prof  Male   12        6   93000
2   Prof  Male   23       20  110515
3   Prof  Male   40       31  131205
4   Prof  Male   20       18  104800
5   Prof  Male   20       20  122400
7   Prof  Male   18       18  126300
8   Prof  Male   29       19   94350
9   Prof  Male   51       51   57800
10  Prof  Male   39       33  128250
11  Prof  Male   23       23  134778
13  Prof  Male   35       33  162200
14  Prof  Male   25       19  153750
15  Prof  Male   17        3  150480
18  Prof  Male   19        7  107300
19  Prof  Male   29       27  150500
21  Prof  Male   33       30  103106
24  Prof  Male   30       23   91100
25  Prof  Male   35       31   99418
26  Prof  Male   38       19  148750
27  Prof  Male   45       43  155865
29  Prof  Male   21       20  123683
31  Prof  Male   22       21  155750
32  Prof  Male   27       19  103275
33  Prof  Male   18       18  120000
35  Prof  Male   28       23  126933
36  Prof  Male   45       45  146856
37  Prof  Male   20        8  102000)
__________________________________________________

In [ ]:
for x,y in grp3:
  print(x)
  print('_'*50)

('AssocProf', 'Female')
__________________________________________________
('AssocProf', 'Male')
__________________________________________________
('AsstProf', 'Female')
__________________________________________________
('AsstProf', 'Male')
__________________________________________________
('Prof', 'Female')
__________________________________________________
('Prof', 'Male')
__________________________________________________

In [ ]:
for x in grp3:
  print(y)
  print('_'*50)

    rank   sex  phd  service  salary
0   Prof  Male   56       49  186960
1   Prof  Male   12        6   93000
2   Prof  Male   23       20  110515
3   Prof  Male   40       31  131205
4   Prof  Male   20       18  104800
5   Prof  Male   20       20  122400
7   Prof  Male   18       18  126300
8   Prof  Male   29       19   94350
9   Prof  Male   51       51   57800
10  Prof  Male   39       33  128250
11  Prof  Male   23       23  134778
13  Prof  Male   35       33  162200
14  Prof  Male   25       19  153750
15  Prof  Male   17        3  150480
18  Prof  Male   19        7  107300
19  Prof  Male   29       27  150500
21  Prof  Male   33       30  103106
24  Prof  Male   30       23   91100
25  Prof  Male   35       31   99418
26  Prof  Male   38       19  148750
27  Prof  Male   45       43  155865
29  Prof  Male   21       20  123683
31  Prof  Male   22       21  155750
32  Prof  Male   27       19  103275
33  Prof  Male   18       18  120000
35  Prof  Male   28       23  126933
36  Prof  Male   45       45  146856
37  Prof  Male   20        8  102000
__________________________________________________
    rank   sex  phd  service  salary
0   Prof  Male   56       49  186960
1   Prof  Male   12        6   93000
2   Prof  Male   23       20  110515
3   Prof  Male   40       31  131205
4   Prof  Male   20       18  104800
5   Prof  Male   20       20  122400
7   Prof  Male   18       18  126300
8   Prof  Male   29       19   94350
9   Prof  Male   51       51   57800
10  Prof  Male   39       33  128250
11  Prof  Male   23       23  134778
13  Prof  Male   35       33  162200
14  Prof  Male   25       19  153750
15  Prof  Male   17        3  150480
18  Prof  Male   19        7  107300
19  Prof  Male   29       27  150500
21  Prof  Male   33       30  103106
24  Prof  Male   30       23   91100
25  Prof  Male   35       31   99418
26  Prof  Male   38       19  148750
27  Prof  Male   45       43  155865
29  Prof  Male   21       20  123683
31  Prof  Male   22       21  155750
32  Prof  Male   27       19  103275
33  Prof  Male   18       18  120000
35  Prof  Male   28       23  126933
36  Prof  Male   45       45  146856
37  Prof  Male   20        8  102000
__________________________________________________
    rank   sex  phd  service  salary
0   Prof  Male   56       49  186960
1   Prof  Male   12        6   93000
2   Prof  Male   23       20  110515
3   Prof  Male   40       31  131205
4   Prof  Male   20       18  104800
5   Prof  Male   20       20  122400
7   Prof  Male   18       18  126300
8   Prof  Male   29       19   94350
9   Prof  Male   51       51   57800
10  Prof  Male   39       33  128250
11  Prof  Male   23       23  134778
13  Prof  Male   35       33  162200
14  Prof  Male   25       19  153750
15  Prof  Male   17        3  150480
18  Prof  Male   19        7  107300
19  Prof  Male   29       27  150500
21  Prof  Male   33       30  103106
24  Prof  Male   30       23   91100
25  Prof  Male   35       31   99418
26  Prof  Male   38       19  148750
27  Prof  Male   45       43  155865
29  Prof  Male   21       20  123683
31  Prof  Male   22       21  155750
32  Prof  Male   27       19  103275
33  Prof  Male   18       18  120000
35  Prof  Male   28       23  126933
36  Prof  Male   45       45  146856
37  Prof  Male   20        8  102000
__________________________________________________
    rank   sex  phd  service  salary
0   Prof  Male   56       49  186960
1   Prof  Male   12        6   93000
2   Prof  Male   23       20  110515
3   Prof  Male   40       31  131205
4   Prof  Male   20       18  104800
5   Prof  Male   20       20  122400
7   Prof  Male   18       18  126300
8   Prof  Male   29       19   94350
9   Prof  Male   51       51   57800
10  Prof  Male   39       33  128250
11  Prof  Male   23       23  134778
13  Prof  Male   35       33  162200
14  Prof  Male   25       19  153750
15  Prof  Male   17        3  150480
18  Prof  Male   19        7  107300
19  Prof  Male   29       27  150500
21  Prof  Male   33       30  103106
24  Prof  Male   30       23   91100
25  Prof  Male   35       31   99418
26  Prof  Male   38       19  148750
27  Prof  Male   45       43  155865
29  Prof  Male   21       20  123683
31  Prof  Male   22       21  155750
32  Prof  Male   27       19  103275
33  Prof  Male   18       18  120000
35  Prof  Male   28       23  126933
36  Prof  Male   45       45  146856
37  Prof  Male   20        8  102000
__________________________________________________
    rank   sex  phd  service  salary
0   Prof  Male   56       49  186960
1   Prof  Male   12        6   93000
2   Prof  Male   23       20  110515
3   Prof  Male   40       31  131205
4   Prof  Male   20       18  104800
5   Prof  Male   20       20  122400
7   Prof  Male   18       18  126300
8   Prof  Male   29       19   94350
9   Prof  Male   51       51   57800
10  Prof  Male   39       33  128250
11  Prof  Male   23       23  134778
13  Prof  Male   35       33  162200
14  Prof  Male   25       19  153750
15  Prof  Male   17        3  150480
18  Prof  Male   19        7  107300
19  Prof  Male   29       27  150500
21  Prof  Male   33       30  103106
24  Prof  Male   30       23   91100
25  Prof  Male   35       31   99418
26  Prof  Male   38       19  148750
27  Prof  Male   45       43  155865
29  Prof  Male   21       20  123683
31  Prof  Male   22       21  155750
32  Prof  Male   27       19  103275
33  Prof  Male   18       18  120000
35  Prof  Male   28       23  126933
36  Prof  Male   45       45  146856
37  Prof  Male   20        8  102000
__________________________________________________
    rank   sex  phd  service  salary
0   Prof  Male   56       49  186960
1   Prof  Male   12        6   93000
2   Prof  Male   23       20  110515
3   Prof  Male   40       31  131205
4   Prof  Male   20       18  104800
5   Prof  Male   20       20  122400
7   Prof  Male   18       18  126300
8   Prof  Male   29       19   94350
9   Prof  Male   51       51   57800
10  Prof  Male   39       33  128250
11  Prof  Male   23       23  134778
13  Prof  Male   35       33  162200
14  Prof  Male   25       19  153750
15  Prof  Male   17        3  150480
18  Prof  Male   19        7  107300
19  Prof  Male   29       27  150500
21  Prof  Male   33       30  103106
24  Prof  Male   30       23   91100
25  Prof  Male   35       31   99418
26  Prof  Male   38       19  148750
27  Prof  Male   45       43  155865
29  Prof  Male   21       20  123683
31  Prof  Male   22       21  155750
32  Prof  Male   27       19  103275
33  Prof  Male   18       18  120000
35  Prof  Male   28       23  126933
36  Prof  Male   45       45  146856
37  Prof  Male   20        8  102000
__________________________________________________

In [ ]:
grp3.agg(['mean','min','max'])

                        phd            service                 salary         \
                       mean min max       mean min max           mean    min
rank      sex
AssocProf Female  15.500000  10  26  11.500000   6  24   88512.800000  62884
          Male    13.666667   9  20  10.666667   7  17  102697.666667  81285
AsstProf  Female   5.636364   2  11   2.545455   0   6   78049.909091  63100
          Male     4.250000   1   8   1.750000   0   4   85918.000000  73000
Prof      Female  23.722222  12  39  17.111111   0  36  121967.611111  90450
          Male    29.214286  12  56  24.178571   3  51  124690.142857  57800


                     max
rank      sex
AssocProf Female  109650
          Male    119800
AsstProf  Female   97032
          Male     92000
Prof      Female  161101
          Male    186960

## series

In [ ]:
df

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df['Age']

PassengerId
1      22.0
2      38.0
3      26.0
4      35.0
5      35.0
       ...
887    27.0
888    19.0
889     NaN
890    26.0
891    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
Age=df['Age']
Age

PassengerId
1      22.0
2      38.0
3      26.0
4      35.0
5      35.0
       ...
887    27.0
888    19.0
889     NaN
890    26.0
891    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
type(Age)

pandas.core.series.Series

In [ ]:
Age.head()

PassengerId
1    22.0
2    38.0
3    26.0
4    35.0
5    35.0
Name: Age, dtype: float64

In [ ]:
Age.tail()

PassengerId
887    27.0
888    19.0
889     NaN
890    26.0
891    32.0
Name: Age, dtype: float64

In [ ]:
Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [ ]:
sal=df['Fare']

In [ ]:
sal

PassengerId
1       7.2500
2      71.2833
3       7.9250
4      53.1000
5       8.0500
        ...
887    13.0000
888    30.0000
889    23.4500
890    30.0000
891     7.7500
Name: Fare, Length: 891, dtype: float64

In [ ]:
c

PassengerId
272      0.0000
598      0.0000
303      0.0000
634      0.0000
278      0.0000
         ...
439    263.0000
342    263.0000
738    512.3292
259    512.3292
680    512.3292
Name: Fare, Length: 891, dtype: float64

In [ ]:
sal.sort_index(ascending=False)

PassengerId
891     7.7500
890    30.0000
889    23.4500
888    30.0000
887    13.0000
        ...
5       8.0500
4      53.1000
3       7.9250
2      71.2833
1       7.2500
Name: Fare, Length: 891, dtype: float64

apply()

In [ ]:
def income_grp(sal):
  if sal==3000:
    gp='HIG'
  else:
    gp='LIG'
  return gp

In [ ]:
sal.apply(income_grp)

PassengerId
1      LIG
2      LIG
3      LIG
4      LIG
5      LIG
      ...
887    LIG
888    LIG
889    LIG
890    LIG
891    LIG
Name: Fare, Length: 891, dtype: object

In [ ]:
df

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df['category']=df['Fare'].apply(income_grp)

In [ ]:
df

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,category
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,LIG
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,LIG
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,LIG
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,LIG
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,LIG
...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,LIG
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,LIG
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,LIG
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,LIG
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,LIG

In [ ]:
sal.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
sal=pd.read_csv("Salaries.csv")

In [ ]:
sal.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
def income_grp(sal):
  if sal==3000:
    gp='HIG'
  else:
    gp='LIG'
  return gp

In [ ]:
sal['salary'].apply(income_grp)

0     LIG
1     LIG
2     LIG
3     LIG
4     LIG
     ...
73    LIG
74    LIG
75    LIG
76    LIG
77    LIG
Name: salary, Length: 78, dtype: object

In [ ]:
sal['category']=sal['salary'].apply(income_grp)

In [ ]:
sal

         rank discipline  phd  service     sex  salary category
0        Prof          B   56       49    Male  186960      LIG
1        Prof          A   12        6    Male   93000      LIG
2        Prof          A   23       20    Male  110515      LIG
3        Prof          A   40       31    Male  131205      LIG
4        Prof          B   20       18    Male  104800      LIG
..        ...        ...  ...      ...     ...     ...      ...
73       Prof          B   18       10  Female  105450      LIG
74  AssocProf          B   19        6  Female  104542      LIG
75       Prof          B   17       17  Female  124312      LIG
76       Prof          A   28       14  Female  109954      LIG
77       Prof          A   23       15  Female  109646      LIG

[78 rows x 7 columns]

In [ ]:
grp=sal.groupby('category')

In [ ]:
for x in grp:
  print(x)

('LIG',          rank discipline  phd  service     sex  salary category
0        Prof          B   56       49    Male  186960      LIG
1        Prof          A   12        6    Male   93000      LIG
2        Prof          A   23       20    Male  110515      LIG
3        Prof          A   40       31    Male  131205      LIG
4        Prof          B   20       18    Male  104800      LIG
..        ...        ...  ...      ...     ...     ...      ...
73       Prof          B   18       10  Female  105450      LIG
74  AssocProf          B   19        6  Female  104542      LIG
75       Prof          B   17       17  Female  124312      LIG
76       Prof          A   28       14  Female  109954      LIG
77       Prof          A   23       15  Female  109646      LIG

[78 rows x 7 columns])

# Lamda

In [ ]:
df

,Survived,Pclass,ename,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,category
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,LIG
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,LIG
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,LIG
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,LIG
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,LIG
...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,LIG
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,LIG
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,LIG
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,LIG
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,LIG

In [ ]:
df['ename'].apply(lambda x: len(x))

PassengerId
1      23
2      51
3      22
4      44
5      24
       ..
887    21
888    28
889    40
890    21
891    19
Name: ename, Length: 891, dtype: int64

In [ ]:
sal['rank'].value_counts()

rank
Prof         46
AsstProf     19
AssocProf    13
Name: count, dtype: int64

In [ ]:
sal['sex'].value_counts()

sex
Male      39
Female    39
Name: count, dtype: int64

In [ ]:
fn=lambda x:'HIS' if x>100 else 'LIS'

In [ ]:
fn(300)

'HIS'

In [ ]:
df['Pclass'].apply(lambda x: HIS if x>100 else 'LIS')

PassengerId
1      LIS
2      LIS
3      LIS
4      LIS
5      LIS
      ...
887    LIS
888    LIS
889    LIS
890    LIS
891    LIS
Name: Pclass, Length: 891, dtype: object